<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/pure-min.css" />
    @RenderSection("styles",false)
    <title>网关</title>
</head>
<body style="padding:0;margin:auto;">
    <div id="app" style="width:100vw;min-height:100vh;">
        <div class="header" style="height:40px;">
            <div class="home-menu pure-menu pure-menu-horizontal" style="display:inline-flex;justify-content:space-between;">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">日志</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">配置</a>
                    </li>
                    <li class="pure-menu-item">
                        <a href="#" class="pure-menu-link">网关</a>
                    </li>
                </ul>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item">
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <form method="post" action="@Url.Action("Logout","Account",new{ReturnUrl=this.Context.Request.Path})">
                                <button type="submit" class="pure-button">退出</button>
                            </form>
                        }
                        else
                        {
                            <a href="@Url.Action("Login","Account")" class="pure-button">登录</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
        <div class="pure-g" style="height:calc(100vh - 40px)">
            <div class="pure-u" style="width:100%;height:100%;">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/lib/vue.global.prod.js"></script>
    <script src="~/lib/signalr.min.js"></script>
    <script src="~/lib/pubsub.min.js"></script>
    @RenderSection("scripts",false)
    <script>
        var connectionId = null;
        const connection = new signalR.HubConnectionBuilder().withUrl('@Url.Content("~/hub")').build();
        const connect = () => {
            if (connection.state === signalR.HubConnectionState.Disconnected) {
                connection
                    .start()
                    .then(function () {
                        console.log('signalr connected');
                    })
                    .catch(function (error) {
                        console.error(error);
                        setTimeout(connect, 5000);
                    });
            }
        };
        connection.onclose(function () {
            connect();
        });
        connection.on('connected', function (id) {
            connectionId = id;
            connection.invoke('setTail', model.enalbeTail, connectionId).then(() => {
                console.log(model.enalbeTail);
            });
        });
        connection.on('notify', function (results) {
            PubSub.publish('notify', results);
        });
        connect();
        Vue.createApp(app).mount('#app');
    </script>
</body>
</html>
